backports-abc==0.5
click==6.7
Flask==1.0
Flask-Script==2.0.6
futures==3.2.0
itsdangerous==0.24
Jinja2==2.11.3
MarkupSafe==1.0
singledispatch==3.4.0.3
six==1.11.0
snakeviz==0.4.2
tornado==5.0.2
Werkzeug==0.15.3
